@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Raleway, sans-serif;
    color: #3c3c3c;
    font-weight: 300;
}
a{
    text-decoration: none;
}

header{
    width: 1100px;
    margin: auto;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header a{
        color: #3c3c3c;
        font-weight: 600;
    }
        header a img{
            vertical-align: middle;
            margin-right: 16px;
        }

    header nav a{
        padding: 8px 0px 8px 8px;
    }

main{
    width: 1100px;
    margin: auto;
}

/* hero-banner */
#hero-banner{
    height: 500px;
    background-image: url(../imgs/hero-banner-2.jpg);
    background-position: center center;
    background-size: cover;

    display: flex;
    align-items: center; /* centrado en vertical */
}
    #hero-banner h1{
        color: #fff;
        margin-left: 100px;
    }

/* Promos */
#promos{
    height: 450px;
    margin-top: 56px;
    background-color: #FAF0E9;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    #promos article{
        width: 290px;
    }
    #promos article h2{
        font-size: 16px;
        margin: 24px 0px 16px 0px;
    }

/* destinos */
#destinos{
    margin-top: 56px;
}

.ciudad{
    width: 992px;
    margin: 0px auto 32px auto;
    height: 350px;
    display: flex;
}

    .ciudad div{
        margin: 100px 0px 0px 100px;
    }
    .ciudad div h2{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .ciudad div a{
        display: block;
        width: 140px;
        margin: 24px auto 0px auto;
        padding: 6px;
        border: 1px solid #3c3c3c;
        border-radius: 12px;
        text-align: center;
        color: #3c3c3c;
    }

/* servicios */
#servicios{
    width: 762px;
    height: 500px;
    margin: 52px auto 0 auto;
    display: flex;
    flex-wrap: wrap; /* respeta los anchos */
}
    #servicios h2{
        width: 100%;
        text-align: center;
    }

    #servicios a{
        display: block;
        width: 160px;
        height: 140px;
        margin: 0px 47px;
        border: 1px solid #3c3c3c;
        border-radius: 12px;
        color: #3c3c3c;
        text-align: center;
        transition: 500ms;
    }
    #servicios a:hover{
        border: 1px solid #b14c27;
        background-color: #DE6C42;
        color: #fff;
    }

    .material-symbols-outlined{
        font-size: 56px;
        margin: 20px;
    }